[Desktop Entry]
Comment=window_control
Exec=/PATH/TO/.config/autostart/auto_minimize.sh APP_TITLE
Hidden=false
Name=window_control
NoDisplay=true
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
X-GNOME-Autostart-enabled=true
